In [1]:
#importing libraries
import pandas as pd
import mysql.connector
import numpy as np

In [3]:
# csv to dataframe
df_buses_1=pd.read_csv(r"C:\Users\ajant\OneDrive\Desktop\redbus-data-scraping\Redbus\df_buses_1.csv")
df_buses_2=pd.read_csv(r"C:\Users\ajant\OneDrive\Desktop\redbus-data-scraping\Redbus\df_buses_2.csv")
df_buses_3=pd.read_csv(r"C:\Users\ajant\OneDrive\Desktop\redbus-data-scraping\Redbus\df_buses_3.csv")
df_buses_4=pd.read_csv(r"C:\Users\ajant\OneDrive\Desktop\redbus-data-scraping\Redbus\df_buses_4.csv")
df_buses_5=pd.read_csv(r"C:\Users\ajant\OneDrive\Desktop\redbus-data-scraping\Redbus\df_buses_5.csv")

Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5],ignore_index=True)
Final_df

,Bus_name,Bus_type,Start_time,End_time,Total_duration,Price,Seats_Available,Ratings,Route_link,Route_name
0,KSRTC (Kerala) - 805,Super Fast Non AC Seater (2+3),13:30,22:05,08h 35m,INR 432,9 Seats available,4.1\n60,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
1,KSRTC (Kerala) - 578,Super Express Non AC Seater Air Bus (2+2),18:00,03:15,09h 15m,INR 513,2 Seats available,3.8\n35,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
2,KSRTC (Kerala) - 72,SWIFT-GARUDA A/C SEATER BUS,19:05,04:20,09h 15m,INR 688,1 Seat available,3.9\n50,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
3,KSRTC (Kerala) - 1583,Super Express Non AC Seater Air Bus (2+2),20:00,05:15,09h 15m,INR 640,1 Seat available,3.8\n23,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
4,KSRTC (Kerala) - 234,Swift Deluxe Non AC Air Bus (2+2),21:00,06:40,09h 40m,INR 620,1 Seat available,4.2\n42,https://www.redbus.in/bus-tickets/kozhikode-to...,Kozhikode to Bangalore
...,...,...,...,...,...,...,...,...,...,...
836,UPSRTC - KSN0275,Ordinary Non AC Seater 2+3,18:06,20:30,02h 24m,INR 121,52 Seats available,3.3,https://www.redbus.in/bus-tickets/kishangarh-t...,Kishangarh to Jaipur (Rajasthan)
837,CHANDRA RAJ TRAVELS,NON AC Seater / Sleeper 2+1,13:10,14:45,01h 35m,INR 300,38 Seats available,3.3,https://www.redbus.in/bus-tickets/kishangarh-t...,Kishangarh to Jaipur (Rajasthan)
838,Rinku Travels,A/C Seater / Sleeper (2+1),17:30,21:00,03h 30m,333,41 Seats available,3.5,https://www.redbus.in/bus-tickets/kishangarh-t...,Kishangarh to Jaipur (Rajasthan)
839,Jain travels regd,A/C Seater / Sleeper (2+1),18:45,20:45,02h 00m,INR 300,40 Seats available,3.7,https://www.redbus.in/bus-tickets/kishangarh-t...,Kishangarh to Jaipur (Rajasthan)
840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.redbus.in/bus-tickets/kishangarh-t...,Kishangarh to Jaipur (Rajasthan)


# Data cleaning

In [4]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 841 entries, 0 to 840
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         463 non-null    object
 1   Bus_type         444 non-null    object
 2   Start_time       463 non-null    object
 3   End_time         463 non-null    object
 4   Total_duration   463 non-null    object
 5   Price            458 non-null    object
 6   Seats_Available  452 non-null    object
 7   Ratings          459 non-null    object
 8   Route_link       841 non-null    object
 9   Route_name       841 non-null    object
dtypes: object(10)
memory usage: 65.8+ KB

In [5]:
#convert prices to numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0      432.0
1      513.0
2      688.0
3      640.0
4      620.0
       ...
836    121.0
837    300.0
838    333.0
839    300.0
840      0.0
Name: Price, Length: 841, dtype: float64

In [10]:
#convert Ratings to numeric
Final_df["Ratings"] = Final_df["Ratings"].astype(str)
Final_df["Ratings"] = Final_df["Ratings"].str.replace("New", "", regex=False)
Final_df["Ratings"] = Final_df["Ratings"].str.strip()
Final_df["Ratings"] = Final_df["Ratings"].str.split().str[0]
Final_df["Ratings"] = pd.to_numeric(Final_df["Ratings"], errors='coerce')
Final_df["Ratings"].fillna(0, inplace=True)

In [11]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 841 entries, 0 to 840
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Bus_name         463 non-null    object
 1   Bus_type         444 non-null    object
 2   Start_time       463 non-null    object
 3   End_time         463 non-null    object
 4   Total_duration   463 non-null    object
 5   Price            458 non-null    float64
 6   Seats_Available  452 non-null    object
 7   Ratings          841 non-null    float64
 8   Route_link       841 non-null    object
 9   Route_name       841 non-null    object
dtypes: float64(2), object(8)
memory usage: 65.8+ KB

In [12]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [13]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [14]:
# change dataframe to csv
path=r"C:\Users\ajant\OneDrive\Desktop\redbus-data-scraping\Redbus\Final_busdetails_df.csv"
Final_df.to_csv(path,index=False)


# Create a mysql database

In [20]:
import mysql.connector
conn = mysql.connector.connect(host="localhost", user="root", password="roshan21")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DETAILS")

In [22]:
# Table Creation
my_cursor.execute("USE RED_BUS_DETAILS")
my_cursor.execute('''CREATE TABLE IF NOT EXISTS bus_details(
                  ID INT AUTO_INCREMENT PRIMARY KEY,
                  Bus_name VARCHAR(255) NOT NULL,
                  Bus_type VARCHAR(255) NOT NULL,
                  Start_time VARCHAR(255) NOT NULL,
                  End_time VARCHAR(255) NOT NULL,
                  Total_duration VARCHAR(255) NOT NULL,
                  Price FLOAT NULL,
                  Seats_Available VARCHAR(255) NOT NULL,
                  Ratings Float NULL,
                  Route_link VARCHAR(255) NULL,
                  Route_name VARCHAR(255) NULL
                  )''')
print("Table Created successfully")

Table Created successfully

In [26]:
Final_df['Bus_type'] = Final_df['Bus_type'].fillna('Unknown')
Final_df['Seats_Available'] = Final_df['Seats_Available'].fillna('0').astype(str)
data = Final_df.values.tolist()

# SQL query to insert data into bus_details table
insert_query = '''INSERT INTO bus_details(
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Price,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name)
                  VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully")

Values inserted successfully